<span class="rating">
    {% for i in 1..5 %}
        {% if i <=   rating %}
            <i class="fas fa-star"></i>
        {% else %}
            <if class="far fa-star"></if>
        {% endif %}
    {% endfor %}
</span>