{% extends 'base.html.twig' %} {#page des annonces#}

{% block title %}Nos magnifiques annonces !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3"> Voici les annonces de notre hôte !</h1>
    <div class="row">

        {% for ad in ads %}

        {% include "ad/_ad.html.twig" %}

        {% endfor %}
    </div>
</div>
</div>

{% endblock %}